.noborder .reveal section img {
  background:none; 
  border:none; 
  box-shadow:none;
  }
  
.eighty p {
   font-size: 80%;
   }
   
.ninety p {
   font-size: 90%;
   }
   
.seventy p {
   font-size: 70%;
   }

.sixty p {
   font-size: 60%;
   }